@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400&display=swap');
@import 'tailwindcss';

@theme {
    /* 🎨 Custom Colors */
  --color-primary: #0a192f;
  --color-secondary: #f97316;
  --color-tertiary: #54d688;

  
  /* 📱 Custom Breakpoints */
   /* --breakpoint-xs: 400px; */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  /* --breakpoint-xl: 1280px; */
}

* {
  font-family: 'Montserrat', sans-serif;
}
